html{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
li , ul,ol{
    list-style-type:none;
    margin: 0;
    padding: 0;
    padding: 0;

}
@media (max-width : 425px ) {
    
    body{
        background:linear-gradient( to left top,  #f2d3c4 ,#FF9E7E, #f2d3c4 ,#FF9E7E, #f2d3c4 ,#FF9E7E);
    }


    .container{
        display: grid;
        max-width: 425px;
        grid-template-areas: 
        "nav"
        "presentacion"
        "escolaridad"
        "work"
        "skill"
        "award"
        "footer";
    }  
    .nav-bar{
        display: flex;
        align-items: center;
        text-align: center;
        list-style: none;
        border-radius: 25%;
        background-color: #616849;
        padding: 3px;
        margin: 5px;               
    }
     .nav-bar a{        
        text-decoration: none;
        color: white;
    }


    .presentacion{
    display: flex;
    flex-wrap: wrap;
    grid-area: presentacion;
    justify-content:space-around;    
    padding: 10px;
    }
    .work ul{
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .profile-container{
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .profile-pic{
        border-radius: 50%;
    }

    h2{
        box-shadow: rgba(0, 253, 13, 0.541) 0px 30px 60px -12px inset, rgba(196, 242, 222, 0.95) 0px 18px 36px -18px inset;
    }

table{
    text-align: center;
    border-collapse: collapse;
    
    }
th,td{
    border: solid 1px rgb(223, 255, 150);
    padding: 8px;
    background-color: rgba(2, 2, 0, 0.589);
    color: rgb(255, 255, 255);
    
}
header{
    display: flex;
    grid-area: nav;
}
.escolaridad{
    grid-area: escolaridad;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.job{

    display: flex;
    flex-direction: column;
    align-items:stretch;
    background-color: #f2d3c4;
    margin: 5px;

}
.job div  {
    align-self: center;
}


.work{
    display: flex;
    flex-wrap: wrap;
    grid-area: work;    
    padding: 10px;    
    justify-content: center;

     
}
.skill{
    
    grid-area: skill;
    padding: 10px;

}
.award{
    grid-area: award;
    padding: 10px;

}
footer{
    grid-area: footer;
    padding: 10px;

}
ol img{
    width: 100px;
    filter: drop-shadow( 0px 0px 5px rgb(15, 15, 15));
}
}
